body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f3ed;
  color: #263238;
}

header {
  background: #2f5d50;
  color: white;
  text-align: center;
  padding: 40px;
}

section {
  padding: 30px 10%;
}

.form-box {
  background: white;
  margin: 30px auto;
  width: 70%;
  border-radius: 16px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.1);
}

input, select, button {
  width: 100%;
  padding: 14px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

button {
  background: #d89b3d;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #bd8127;
}

.book-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
}

.book-card {
  background: white;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.08);
}

.book-card h3 {
  color: #2f5d50;
}

.price {
  color: #d89b3d;
  font-weight: bold;
}

.delete-btn {
  background: #b23b3b;
}
